body{
    margin: 0px;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}
header{
    display:flex;
    justify-content: center;
    background-color: #1f2937;
}
#header-div{
    width: 60%;
}
#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#links{
    gap: 20px;
}
#nav h3{
    font-size: 24px;
    font-weight: bolder;
    color: #f9faf8
}
#links{
    display: flex;
}
#links p{
    font-size: 18px;
    color: #e5e7eb;
}
#awesome-div{
    display: flex;
    justify-content: space-between;
    margin: 5% 0 8% 0;
}
#awesome-div h1{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    margin: 5px;
}
button{
    background-color: #3882f6;
    width: 150px;
    height: 2em;
    border: none;
    color: white;
    font-size: large;
    font-weight: bold;
    border-radius: 5px;
}
#image-div{
    background-color: #e5e7eb70;
    width: 48%;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    object-position: bottom;
}
#awesome-div p{
    font-size: 18px;
    color: #e5e7eb;
    margin:5px;
}
.flex-container{
    display: flex;
    flex-direction: column;
    width: 48%;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#info{
    width:75%;
    text-align: center;
    padding:1%
}
#info h2{
    font-size:36px;
    font-weight:bolder;
}
#images{
    display: flex;
    justify-content:center;
    gap:5%;
}
.infoContainer{
    width: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.infoContainer p{
    color:#1f2937;
}
.image{
    height: 150px;
    width: 100%;
    border:4px solid #3882f6;
    border-radius: 15px;
}
#quote-Div{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    padding:8%;
}
#quote-Div p{
    text-align: right;
    font-size: 24px;
    color: #1f2937;
    margin:0px;
}
#quote-Div #quote{
    text-align: left;
    font-size: 36px;
    font-weight: light;
    color: #1f2937;
    font-style: italic;
}
footer{
    display:flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}
#note{
    background-color: #3882f6;
    height: 45%;
    width: 75%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;

}
